PSCalendar/Service References/CalendarServiceReference/PSCalendarContract.Dto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PSCalendarContract.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PSCalendarContract.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Color" type="q1:ConsoleColor" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EventsId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:EventType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Event" nillable="true" type="tns:Event" />
  <xs:simpleType name="EventType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Sport" />
      <xs:enumeration value="Family" />
      <xs:enumeration value="Friends" />
      <xs:enumeration value="Accenture" />
      <xs:enumeration value="BRE" />
      <xs:enumeration value="PawelPC" />
      <xs:enumeration value="Gosia" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EventType" nillable="true" type="tns:EventType" />
  <xs:complexType name="PeriodicEvent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodType" type="xs:int" />
      <xs:element minOccurs="0" name="PeriodicEventsId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PeriodicEvent" nillable="true" type="tns:PeriodicEvent" />
  <xs:complexType name="ArrayOfEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Event" nillable="true" type="tns:Event" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEvent" nillable="true" type="tns:ArrayOfEvent" />
  <xs:complexType name="ArrayOfPeriodicEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PeriodicEvent" nillable="true" type="tns:PeriodicEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPeriodicEvent" nillable="true" type="tns:ArrayOfPeriodicEvent" />
</xs:schema>